<template name="columnTwo">
    <img class="headeringimage" src="[[section.headingImage]]" alt=""/>
    <h1 style="color: [[section.fontColor]]; font-family: [[section.fontType]];"  >[[section.headingTitle]]</h1>
    <h3 style="color: [[section.fontColor]];"  >[[section.headingSubtitle]]</h3>
    <div class="adContainer clearfix">
        <div class="adCol" ng-repeat="adCampaign in section.campaigns">
            <a href=[[adCampaign.clickProxyURL]]>
                <div class="inner">
                    <div class="wrapper clearfix">
                        <img ng-src=[[adCampaign.productThumbnail]] err-src="/images/IconPlaceholder.png" title=[[adCampaign.productName]] class="adThumbnail"/>
                        <h2>[[adCampaign.productName]]</h2>
                        <img class="appRate" src=[[adCampaign.averageRatingImageURL]] title=[[adCampaign.rating]] />
                        <img class="btn_download" src="../images/download.png" alt="Download"/>
                    </div>
                    <img src=[[adCampaign.impressionTrackingURL]] class="trackingImg"/>
                </div>
            </a>
        </div>
    </div>
</template>