<template name="heroFour">
    <h1 style="color: [[section.fontColor]]; font-family: [[section.fontType]];"  >[[section.headingTitle]]</h1>
    <h3 >[[section.headingSubtitle]]</h3>
    <div class="heroCol" ng-repeat="adCampaign in section.campaigns.slice(0,1)">
        <a href=[[adCampaign.clickProxyURL]]>
            <div class="inner">
                <div class="wrapper clearfix">
                    <img ng-src=[[adCampaign.productThumbnail]] err-src="/images/IconPlaceholder.png" title=[[adCampaign.productName]] class="adThumbnail"/>
                    <div class="campaignInfo">
                        <div class="infoinner">
                            <h2>[[adCampaign.productName]]</h2>
                            <div class="appRate" star-rating rating-value="[[adCampaign.rating]]" max="5"></div>
                            <p>[[adCampaign.productDescription]]</p>
                            <div  class="btn_download"  href=[[adCampaign.clickProxyURL]]><img src="../images/download.png" alt="Download"/> <span>DOWNLOAD</span></div>
                        </div>
                    </div>

                </div>
                <img src=[[adCampaign.impressionTrackingURL]] class="trackingImg"/>
            </div>
        </a>
    </div>
    <div class="belowcontainer clearfix">
        <div class="adCol" ng-repeat="adCampaign in section.campaigns.slice(1,4)">
            <a href=[[adCampaign.clickProxyURL]]>
                <div class="inner">
                    <div class="wrapper">
                        <img ng-src=[[adCampaign.productThumbnail]] err-src="/images/IconPlaceholder.png" title=[[adCampaign.productName]] class="adThumbnail"/>
                        <h2>[[adCampaign.productName]]</h2>
                    </div>
                    <img src=[[adCampaign.impressionTrackingURL]] class="trackingImg"/>
                </div>
            </a>
        </div>
    </div>

</template>